@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/button',
  'base/form',
  'base/helpers';

// 4. Themes
@import
  'themes/default',
  'themes/admin';


.section-page {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #0E0C14E0;
  }
  > .container {
    z-index: 10;
  }
}

.content {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
  h6 {
    margin-bottom: 0.875rem;
    margin-top: 2rem;
    font-weight: 700;
    color: #5c5c5c;
  }
  small {
    display: block;
    margin-top: 0.625rem;
    color: #3e3e3e91;
  }
}

.wheel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  > img {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    // &:first-child {
    //   width: 100%;
    //   margin-bottom: -150px;
    //   z-index: 2;
    //   @media (max-width: 991.98px) {
    //     width: 90%;
    //     margin-bottom: -120px;
    //   }
    //   @media (max-width: 767.98px) {
    //     margin-bottom: -150px;
    //   }
    // }
    // &:last-child {
    //   width: 70%;
    //   z-index: 1;
    //   @media (max-width: 991.98px) {
    //     width: 80%;
    //   }
    // }
  }
}
