@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/form',
  'base/helpers';

// 4. Themes
@import
  'themes/default',
  'themes/admin';

.wheel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  > img {
    position: relative;
    &:first-child {
      width: 100%;
      margin-bottom: -150px;
      z-index: 2;
      @media (max-width: 991.98px) {
        width: 110%;
        margin-bottom: -110px;
      }
      @media (max-width: 767.98px) {
        width: 90%;
        margin-bottom: -150px;
      }
    }
    &:last-child {
      width: 70%;
      z-index: 1;
      @media (max-width: 991.98px) {
        width: 90%;
      }
    }
  }
}
