.header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 82px;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
