$color-primary: #319683;
$color-secondary: rgb(91, 15, 211); // #; // Purple
$color-brand-01: rgb(251, 164, 65); // # // Orange
$color-accent: #F5D842;

$heading-font-family: 'Darker Grotesque', sans-serif;
$body-font-family: 'Darker Grotesque', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
