.rangeslider {
  position: relative;
  width: 100%;
}

.labeled {
  position: absolute;
  bottom: -1.5rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(0,0,0,.78);
}

.bottom__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.75rem;
  p {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0;
    span {
      color: #F5D842;
    }
  }
}
