.btn {
  display: inline-block;
  padding: 0.625rem;
  color: #fff;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.29) 0%, rgba(57, 57, 70, 0.0841) 100%);
  box-shadow: inset -1px -1px 0.5px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  span {
    align-items: center;
    border: 0.125rem solid hsla(0,0%,100%,.15);
    border-radius: 0.5rem;
    display: inline-flex;
    font-size: 1.125rem;
    height: 40px;
    justify-content: center;
    min-width: 32px;
    padding: 0 0.625rem;
  }
  &--primary {
    span {
      font-weight: 600;
      padding: 0 0.9375rem;
      background: linear-gradient(0deg, #D3A11E 0%, #F1CD71 100%);
    }
  }
}
